<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Huber's Tech Blog</title>
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, viewport-fit=cover"
        />
        <!--fontawesome icons-->
        <script
        src="https://kit.fontawesome.com/80af804818.js"
        crossorigin="anonymous"
        ></script>
                
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="bg-sky-800">
        <!-- Navbar starts here -->
        <nav class="bg-sky-800">
        <div class="px-4 py-6 mx-auto md:px-6 lg:px-8 xl:max-w-7xl 2xl:max-w-[1536px]">

            <!-- Container for navbar content -->
            <div class="flex items-center justify-between h-16">

            {{! Hamburger Icon }}
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <!-- Logo or brand name -->
            <div class="flex-grow text-center md:text-left">
                <a
                href="/"
                class="text-2xl font-bold text-center text-zinc-100 lg:text-3xl 2xl:text-4xl md:text-left"
                >
                Huber's 
                <span class="text-orange-400">Tech Blog</span>
                </a>
            </div>

            <!-- Navbar links list -->
            <ul class="flex items-center justify-center space-x-4 md:space-x-6 lg:space-x-8 xl:space-x-10 nav-menu"          >
                <!-- HomePage link (Blog page) -->
                <li class="nav-item">
                <a
                    href="/"
                    class="py-2 text-lg font-medium duration-200 ease-in-out rounded-md md:px-3 text-orange-400 hover:text-zinc-100 md:text-base lg:text-lg xl:text-xl"
                >Homepage</a>
                </li>

                <!-- Dashboard link (User page) -->
                <li class="nav-item">
                <a
                    href="/dashboard"
                    class="py-2 text-lg font-medium duration-200 ease-in-out rounded-md md:px-3 text-orange-400 hover:text-zinc-100 md:text-base lg:text-lg xl:text-xl"
                >Dashboard</a>
                </li>

                <!-- Conditionally rendered links -->
                {{#if logged_in}}
                <!-- Profile Dropdown -->
                <li class="relative">
                    <button id="profile-button" class="flex items-center space-x-2">
                    <img
                        src="/images/placeholder-img.png"
                        alt="Profile"
                        class="flex items-center justify-center w-10 h-10 rounded-full"
                    />
                    </button>
                    <div
                    id="profile-dropdown"
                    class="absolute right-0 hidden w-48 py-2 mt-2 shadow-xl bg-zinc-800 md:top-[65px] mx-auto justify-center items-center"
                    >
                    <p
                        class="flex items-center justify-center py-2 text-center border-b border-zinc-400/20 text-zinc-100"
                    >Welcome, {{name}}</p>
                    <a
                        href="/my-profile"
                        class="block w-full px-4 py-2 text-sm text-center duration-300 ease-in-out text-zinc-100 hover:bg-zinc-500/60"
                    >My Profile</a>
                    <button
                        id="logout-button"
                        class="block w-full px-4 py-2 text-sm duration-300 ease-in-out text-zinc-100 hover:bg-zinc-500/60"
                    >Logout</button>
                    </div>
                </li>
                {{else}}
                <!-- Login/Sign Up link -->
                <li class="nav-item">
                    <a
                    href="/login"
                    class="py-2 text-lg font-medium duration-200 ease-in-out rounded-md md:px-3 text-orange-400 hover:text-zinc-100 md:text-base lg:text-lg xl:text-xl"
                    >Login/Sign Up</a>
                </li>
                {{/if}}
            </ul>
            </div>
        </div>
        </nav>

        {{{body}}}

        {{!-- <script src="/js/hamburgerMenu.js"></script> --}}
        {{#if logged_in}}
        <script src="/js/profileDropdown.js"></script>
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>